.NextEvent {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
    color: #FFFFFF;
  }
  
  .next-date {
    font-size: 18px;
    color: #98ABBE;
  }
  
  .next-event-title {
    max-width: 65%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    color: #FFFFFF;
  }